.header{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    .header__items{
        list-style-type: none;
        display: flex;
        margin-left: 5px;
        padding: 0;
        .header__item{
            margin-left: 5px;
            list-style-type: none;
        }
    }
}